/* Selector {
    property : value;
} */

* {
  text-align: right;
}

header {
  background-color: #ffb740;
  background-image: linear-gradient(
    to left,
    rgba(255, 94, 0, 0.4),
    rgba(0, 255, 98, 0.4)
  );
}

h1:first-child {
  color: #ffb740;
  text-align: center;
  border: 8px dashed #ffb740;
  cursor: move;
}
img {
  float: right;
}
.footer {
  clear: both;
}

p {
  line-height: 50px;
  font-style: italic;
  font-size: 200%;
  font-weight: bolder;
  font-family: "Georama", sans-serif;
  font-family: "Style Script", cursive;
}

li {
  list-style: none;
}
