/* Selector {
    property : value;
} */

* {
  text-align: center;
}

header {
  background-color: #ffb740;
  background-image: linear-gradient(
    to left,
    rgba(255, 94, 0, 0.4),
    rgba(0, 255, 98, 0.4)
  );
}

h1 {
  color: #ffb740;
  text-align: center;
  border: 8px dashed #ffb740;
  cursor: move;
}

p {
  color: red;
  text-align: center;
  border: 8px dashed rgba(0, 0, 255, 0.4);
  cursor: pointer;
}

p {
  color: #ffb740;
}

li {
  list-style: none;
}

.red {
  color: red;
  border: 8px dashed rgba(0, 255, 0, 1);
}

.nopointer {
  cursor: auto;
}
.back {
  background-color: #ffb740;
}

#blue {
  background-color: rgba(0, 0, 255, 0.2);
}

#green {
  background-color: rgba(0, 255, 0, 0.2);
}
