/* Selector {
    property : value;
} */

body {
  background-image: url(myimage.jpg);
  background-size: cover;
  background-repeat: repeat-x;
  background-position: right top;
}
header {
  background-color: yellow;
}
h1 {
  color: red;
}

p {
  color: green;
}
p {
  color: blue;
}
