/* Selector {
    property : value;
} */

body {
  background-image: url("https://images.unsplash.com/photo-1597950363715-49b0599efa03?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=700&q=80");
  background-size: cover;
}

header {
  background-color: yellow;
}
h1 {
  color: red;
  text-align: center;
  border: 8px dashed black;
  cursor: move;
}

p {
  color: red;
  text-align: center;
  border: 8px dashed black;
  cursor: pointer;
}
p {
  color: blue;
}
li {
  list-style: inside;
}
