/* Selector {
    property : value;
} */

body {
  background-image: url("https://images.unsplash.com/photo-1627734481670-02d42bbbf193?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=671&q=80");
}
header {
  background-color: yellow;
}
h1 {
  color: red;
}

p {
  color: green;
}
p {
  color: blue;
}
