/* Selector {
    property : value;
} */

body {
  background-image: url("https://unsplash.com/photos/EOzt4vFgI8g");
}
header {
  background-color: yellow;
}
h1 {
  color: red;
}

p {
  color: green;
}
p {
  color: blue;
}
