/* Selector {
    property : value;
} */

body {
  background-image: url(https://unsplash.com/photos/1pAmAe5nc-w);
  background-size: cover;
}
header {
  background-color: yellow;
}
h1 {
  color: red;
}

p {
  color: green;
}
p {
  color: blue;
}
