/* Selector {
    property : value;
} */

body {
  background-image: url(myimage.jpg);
  background-size: contain;
}

header {
  background-color: yellow;
}
h1 {
  color: red;
  text-align: center;
  border: 8px dashed black;
}

p {
  color: green;
}
p {
  color: blue;
}
